/* ---------------------------- */
/* Overall */

*{
	margin: 0px;
	padding: 0px;
}

#tab-content {
	width: 1400px;
	margin: 15px auto;
	text-align: left;
}

/* ---------------------------- */
/* Marking Phase - Phase One    */

#P1_mark {	
	margin-bottom: 15px;
	position: relative;
	height: 560px;
	width: 760px;	
}

#P1_canv_img {
	position: absolute;
	z-index: 4;	
}

#img_pde {
	position: absolute;
	z-index: 5;
}

#p1_c1 {
	position: absolute;
	z-index: 1;
	visibility: hidden;
}

#p1_c2 {
	position: absolute;
	z-index: 2;
	visibility: hidden;
}

#p1_c3 {
	position: absolute;
	z-index: 3;
	visibility: hidden;
}
 
/* ---------------------------- */
/* Annotation Phase - Phase Two */

#P2_m_title {
	position: relative; 
	top: 100px;
	left: 20px; 
}

#P2_main_wrapper {
	position: relative; 
	float: left; 
	top: 100px; 
	left: 20px; 	
	margin-right: 25px;
	height: 400px;
	width: 525px;	
}

#P2_m {
	border-style: solid; 
	position: absolute;
	left: 0px; 
	top: 0px; 
	z-index: 2;
}

#P2_m_mark {
	position: absolute;
	left: 0px;
	top: 0;
	z-index: 2;		
}

#P2_m_plus {
	position: absolute;
	left: 0px;
	top: 0;
	z-index: 3;	
}

#P2_ref_wrapper {	
	float: left; 	
	top: 25px; 
	left: 50px; 
	margin-left: 25px;
	height: 615px; 
	width: 525px;	
}

#P2_ref_1, #P2_ref_2 {		
	margin-bottom: 15px;
	position: relative;
	height: 190px;
	width: 525px;
	border-style: dotted; 
}

#P2_ref_3 {
	position: relative;
	height: 190px;
	width: 525px;
	border-style: dotted; 
}

#P2_r1, #P2_r2, #P2_r3 {
	position: absolute;
	left: 0px;
	top: 0;
	z-index: 1; 
}

#P2_r1_plus, #P2_r2_plus, #P2_r3_plus {
	position: absolute;
	left: 0px;
	top: 0;
	z-index: 2;	
}

#P2_foot_wrapper {	 
	position: relative;
	margin-top: 700px;
	border-style: solid; 
	height: 300px;
	width: 1100px; 
	overflow: scroll; 
}

#P2_cell_id, #P2_cell_tot {
	color: black;
	width: 50px;
}

#P2_z1, #P2_z2, #P2_z3 {
	color: black;
	width: 50px;
}

#P2_z1_max, #P2_z2_max, #P2_z3_max {
	color: black;
	width: 50px;
}

#P2_cat {	
	margin-left: 30px;
}

.P2_cat {
	position: static;	
	left: 300px;
}